/MiPrimerProyecto/nbproject/private/
/MiPrimerProyecto/build/
/MiPrimerProyecto002/nbproject/private/
/Ayudantia/AyudantiaParte01/nbproject/private/
/Ayudantia/Ayudantia002Parte01/nbproject/private/
/Ayudantia/Ayudantia002_Parte01/nbproject/private/
/Ayudantia/Ayudantia002_Parte01/build/
/Proyecto3_002_Colaboracion/nbproject/private/
/Proyecto3_002_Colaboracion/build/
/Proyecto3_002_Colaboracion/dist/
